<%- layout("layouts/boilerplate") %>

<body>
  <form
    action="/listings/<%= listing._id %>?_method=PUT"
    method="post"
    class="form"
  >
    <h1>Edit From</h1>

    <label class="form-label" for="title">Title</label>
    <input
      class="form-control"
      type="text"
      name="listing[title]"
      value="<%= listing.title %>"
      id="title"
    />

    <label class="form-label" for="description">Description</label>
    <textarea
      class="form-control"
      type="text"
      name="listing[description]"
      id="description"
    >
    <%= listing.description %></textarea
    >

    <label class="form-label" for="image">Image Url</label>
    <input
      class="form-control"
      type="text"
      name="listing[image]"
      value="<%= listing.image %>"
      id="image"
    />

    <label class="form-label" for="price">Price</label>
    <input
      class="form-control"
      type="number"
      name="listing[price]"
      value="<%= listing.price %>"
      id="price"
    />

    <label class="form-label" for="country">Country</label>
    <input
      class="form-control"
      type="text"
      name="listing[country]"
      id="country"
      value="<%= listing.country %>"
    />

    <label class="form-label" for="location">Location</label>
    <input
      class="form-control"
      type="text"
      name="listing[location]"
      value="<%= listing.location %>"
      id="location"
    />
    <button class="btn btn-success" style="margin: 1rem 0">submit</button>
  </form>
</body>
