<%- layout("layouts/boilerplate") %>

<body>
  <h2>All Listings</h2>
  <div class="row row-clos-lg-4 row-cols-md-3 row-cols-sm-2">
    <% for(let listing of allListings) { %>
    <a
      href="/listings/<%= listing._id %>"
      class="card listing-card"
      style="width: 18rem"
    >
      <!-- <div class="card" > -->
      <img
        src="<%= listing.image %>"
        alt="listing-image"
        class="card-img-top"
      />
      <div class="card-body">
        <p class="card-text">
          <%= listing.title %>
          <br />
          <%= listing.description %>
          <br />
          <strong><%= listing.price %></strong>
          <br />
          <%= listing.location %>
          <br />
          <%= listing.country %>
        </p>
      </div>
      <!-- </div> -->
    </a>

    <% } %>
  </div>
</body>
