<%- layout("layouts/boilerplate") %>

<body>
  <div class="row-row-lg-1 show-card">
    <h1>Listing</h1>
    <div class="card" style="width: 60%">
      <div class="show-card-img">
        <img
          src="<%= listing.image %>"
          alt="listing_image"
          class="card-img-top"
        />
      </div>
      <p class="card-text">
        <strong><%= listing.title %></strong>
        <br /><%= listing.description %> <br />&#x20A8; <%=
        listing.price.toLocaleString("en-pk") %> <br /><%= listing.location %>
        <br /><%= listing.country %>
      </p>

      <div class="btns">
        <a href="/listings/<%= listing._id %>/edit" class="btn btn-success"
          >Edit</a
        >

        <form
          action="/listings/<%= listing._id %>/delete?_method=DELETE"
          method="post"
        >
          <button class="btn btn-danger">Delete</button>
        </form>
      </div>
    </div>
  </div>
</body>
