<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Wonderlust</title>
  </head>
  <body>
    <h1><%= listing.title %></h1>
    <ul>
      <li><%= listing.description %></li>
      <li>&#x20A8; <%= listing.price.toLocaleString("en-pk") %></li>
      <li><%= listing.location %></li>
      <li><%= listing.country %></li>
    </ul>
    <a href="/listings/<%= listing._id %>/edit">Edit</a>
  </body>
</html>
