<%- layout("layouts/boilerplate") %>

<body>
  <div class="row-lg-1 show-card">
    <h2 class="offset-0 col-7">
      <strong><%= listing.title %></strong>
    </h2>
    <div class="card listing-card" style="width: 60%">
      <div class="show-card-img">
        <img
          src="<%= listing.image %>"
          alt="listing_image"
          class="card-img-top"
        />
      </div>
      <p class="card-text">
        <strong>Owned By:</strong> <%= listing.owner.username %>
      </p>
      <p class="card-text"><%= listing.description %></p>
      <p class="card-text" style="text-decoration: line-through; opacity: 0.7">
        Rs: 85 &#x20A8;
      </p>

      <p class="card-text"><%= listing.price.toLocaleString("en-pk") %></p>
      <p class="card-text"><%= listing.location %></p>
      <p class="card-text"><%= listing.country %></p>

      <div class="btns">
        <a href="/listings/<%= listing._id %>/edit" class="btn btn-success"
          >Edit</a
        >

        <form
          action="/listings/<%= listing._id %>/delete?_method=DELETE"
          method="post"
        >
          <button class="btn btn-danger">Delete</button>
        </form>
      </div>
    </div>
  </div>

  <div class="col-8 offset-2">
    <hr />
    <h3>Reviews</h3>
    <form
      action="/listings/<%= listing._id %>/reviews"
      method="post"
      novalidate
      class="needs-validation"
    >
      <div>
        <label for="rating" class="form-label">Rating</label>
        <input
          type="range"
          class="form-range"
          min="1"
          max="5"
          id="rating"
          name="review[rating]"
        />
      </div>

      <div class="mt-2 mb-3">
        <label for="comment" class="form-label">Comment</label>
        <textarea
          name="review[comment]"
          id=""
          cols="30"
          rows="5"
          class="form-control"
          required
        ></textarea>
        <div class="valid-feedback">Looks good!</div>
        <div class="invalid-feedback">Duh Dude!</div>
      </div>

      <button class="btn btn-outline-dark">Submit</button>
    </form>

    <hr />
  </div>

  <div class="col-8 offset-2">
    <h3>All Reviews</h3>
    <div class="row">
      <% for(review of listing.reviews) { %>
      <div class="card mt-2 ms-2 col-5">
        <div class="card-body">
          <h5 class="card-title">Joe Dean</h5>
          <p class="card-text"><%= review.comment %></p>
          <p class="card-text"><%= review.rating %> &starf;</p>
        </div>

        <form
          action="/listings/<%= listing._id %>/reviews/<%= review._id %>?_method=DELETE"
          method="post"
          class="mb-2"
        >
          <button class="btn btn-dark">Delete</button>
        </form>
      </div>
      <% } %>
    </div>
  </div>
</body>
